body{
    font-family: 'Playfair Display', serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.colore-loser{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 50%;
}
.here{
    background-color: rgb(20, 226, 47);
    text-decoration: none;
    background-image: linear-gradient(red ,orange);
    padding: 10px 40px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;  
}
.top-bannar{
    background-image: url(showoff/top-banner.png);
    background-repeat: no-repeat;
}
git
.failure{
    background-image: url(showoff/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(showoff/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experiace-iteam{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 14px 16px 20px gray;
    border-radius: 15px;
}
#web-web{
    border-left: 7px dotted rgb(19, 32, 209);
   bor
    border-image: 1;
}#web-developer { 
    border-left: 7px solid rebeccapurple;
    border: 1;
}
footer p{
    text-align: center;
}